:root{
    --color-negative: #3a4042;
    --color-light-negative:  rgb(58, 64, 66, 0.1);
    --color-zero: #FFFFFF;
    --color-first: #F25A70;

    --color-second: #EEEEEE;
    --color-third: #9B9B9B;
    --color-fourth: #707070;
    --color-fifth: #828282;

    --color-sixth: #FFFCEE;
    --color-eighth: #F4F1E4;
    --color-seventh: #EAE6DA;
}